---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ExternalScripts from '../components/ExternalScripts.astro';

---

<Layout title="DCM - Sugar">
    <Header></Header>
    <section class="banner">
        <div class="position-relative bannerInn banner-inner">
            <img src="/banner-brief.jpg" alt="" title="" class="img-fluid d-none d-lg-block">
            <img src="/banner-brief-mob.jpg" alt="" title="" class="img-fluid d-block d-lg-none">
        </div>
        <ul class="list-unstyled mb-0 list-social list-social-inn">
            <li>
                <a href=""><i class="fb-con"></i></a>
            </li>
            <li>
                <a href=""><i class="utube-con"></i></a>
            </li>
        </ul>
    </section>
    <div class="sec-breadcrumb">
        <div class="container">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#"><i class="home-icon"></i>Home</a></li>
              <li class="breadcrumb-item"><a href="#">Careers</a></li>
              <li class="breadcrumb-item active"><a href="#">Brief</a></li>
            </ol>
        </div>
    </div>
    <div class="nav-fill-custom">
        <div class="container">
            <ul class="nav nav-pills nav-fill">
              <li class="nav-item">
                <a href="brief.html" class="nav-link active">Career at DCM Shriram</a>
              </li>
              <li class="nav-item">
                <a href="experienced-professionals.html" class="nav-link">Experienced Professionals</a>
              </li>
              <li class="nav-item">
                <a href="young-professionals.html" class="nav-link">Young Professionals</a>
              </li>
              <li class="nav-item">
                <a href="employment-programs.html" class="nav-link">Employment Programs</a>
              </li>
            </ul>
        </div>
    </div>
    <div class="tab-content tab-content-custom">
      <div class="tab-pane fade show active">
          <div class="farmer-training">
              <div class="container">
                  <div class="row justify-content-start">
                      <div class="col-md-6 ft-start">
                          <h1 class="ft-start-sub-title about-title">
                              Careers
                          </h1>
                          <p class="about-text">
                              A career at DCM Shriram  is more than just a job. It’s a sense of deep purpose. It’s the comfort of working in an inclusive workplace. You will always be a  part of supportive and empowering culture the will bring out the very best in you, everyday., 
                          </p>
                          <p class="about-text">
                              Whether you are starting out, or have been on a career path, we have a road-map to take you further and faster,  in a more fulfilling manner.
                          </p>
                      </div>
                      <div class="col-md-5 mb-4 mb-md-0 supplier-block supplier-block-mob">
                          <img src="/career-img.jpg" alt="" title="" class="img-fluid">
                      </div>
                  </div>
                  <h6 class="career-sub-title mt-5 text-center"> Steps of Our Selection Process </h6>
                  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-0 row-20 row_20 mt60">
                      <div class="col mb50">
                          <div class="step-title">Step 01</div>
                          <div class="card card-step">
                              <div class="card-body">
                                  <h5 class="card-step-title">Enrollment Stage</h5>
                                  <p class="card-step-text">
                                      Vacancies are posted on DCM
                                      Shriram website in the careers 
                                      section.
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col mb50">
                          <div class="step-title">Step 02</div>
                          <div class="card card-step">
                              <div class="card-body">
                                  <h5 class="card-step-title">Application Stage</h5>
                                  <p class="card-step-text">
                                      Candidates fulfilling the
                                      mentioned criteria can apply
                                      through the link given
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col mb50">
                          <div class="step-title">Step 03</div>
                          <div class="card card-step">
                              <div class="card-body">
                                  <h5 class="card-step-title">Shortlist Stage</h5>
                                  <p class="card-step-text">
                                      Based on the eligibility criteria our 
                                      recruiters will shortlist the candidates 
                                      for further selection process
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col">
                          <div class="step-title">Step 04</div>
                          <div class="card card-step">
                              <div class="card-body">
                                  <h5 class="card-step-title">Selection Stage</h5>
                                  <p class="card-step-text">
                                      Shortlisted candidates will undergo 
                                      set of competency-based virtual & 
                                      onsite interviews & behavioral 
                                      assessments
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col">
                          <div class="step-title">Step 05</div>
                          <div class="card card-step">
                              <div class="card-body">
                                  <h5 class="card-step-title">Onboarding Stage</h5>
                                  <p class="card-step-text">
                                      Selected candidates will be sent
                                      offer letter & on joining they
                                      will undergo a comprehensive 
                                      induction program
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col">
                          <div class="step-title">Step 06</div>
                          <div class="card card-step">
                              <div class="card-body">
                                  <h5 class="card-step-title">Candidate Experience Survey Stage</h5>
                                  <p class="card-step-text">
                                      We continuously strive to improve our
                                      process and hence will share
                                      questionnaire/ surveys at each
                                      stage to receive feedback
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <section class="resume-link">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-md-8">
                          <p class="text-center resume-link-text">
                              DCM Shriram welcomes applications from professional graduates in all disciplines who wish to seek challenging responsibilities and fulfilling career opportunities. 
                          </p>
                          <h5 class="text-center resume-link-title">Please send us your profile using the <a href="#">Submit Resume</a> link.</h5>
                          </div>
                      </div>
                  </div>
              </section>
          </div>
      </div>
    </div>
	<Footer></Footer>
    <ExternalScripts></ExternalScripts>
</Layout>



