---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ExternalScripts from '../components/ExternalScripts.astro';

---

<Layout title="DCM - Sugar">
    <Header></Header>
	<section class="banner">
		<div class="position-relative bannerInn banner-inner">
			<img src="/banner-whoweare.webp" alt="" title="" class="img-fluid d-none d-lg-block">
			<img src="/banner-whoweare-mob.webp" alt="" title="" class="img-fluid d-block d-lg-none">
		</div>
		<ul class="list-unstyled mb-0 list-social list-social-inn">
			<li>
				<a href="/"><i class="fb-con"></i></a>
			</li>
			<li>
				<a href="/"><i class="utube-con"></i></a>
			</li>
		</ul>
	</section>
	<div class="sec-breadcrumb">
		<div class="container">
			<ol class="breadcrumb mb-0">
			  <li class="breadcrumb-item"><a href="/"><i class="home-icon"></i>Home</a></li>
			  <li class="breadcrumb-item"><a href="/">Who We are</a></li>
			  <li class="breadcrumb-item active"><a href="/">Leadership Team</a></li>
			</ol>
		</div>
	</div>
		<div class="nav-fill-custom">
			<div class="container">
				<ul class="nav nav-pills nav-fill">
				  <li class="nav-item">
					<a href="/purpose" class="nav-link">Purpose</a>
				  </li>
				  <li class="nav-item">
					<a href="/history" class="nav-link">History</a>
				  </li>
				  <li class="nav-item">
					<a href="/values" class="nav-link">Values</a>
				  </li>
				  <li class="nav-item">
					<a href="/milestones" class="nav-link">Milestones</a>
				  </li>
				  <li class="nav-item">
					<a href="/leadership-team" class="nav-link active">Leadership Team</a>
				  </li>
				  <li class="nav-item">
					<a href="/accolades" class="nav-link">Acculdaes</a>
				  </li>
				  <li class="nav-item">
					<a href="/gallery" class="nav-link">Gallery</a>
				  </li>
				</ul>
			</div>
		</div>
		<div class="tab-content tab-content-custom">
		  <div class="tab-pane fade show active" id="pills-leaership">
			  <div class="container">
				<h1 class="ft-start-sub-title about-title text-center">Leadership Team</h1>
				<div class="row g-0 justify-content-center">
					<div class="col-md-10">
						<p class="tab-content-custom-text mb40">
							At DCM Shriram we believe leadership is about inspiring others to lead. We value competence, initiative, and innovativeness. What we value above all is leadership that inspires the pride of ownership. Meet the leadership that is driving these values.
						</p>	
					</div>
				</div>
				<div class="d-flex flex-column flex-md-row tab-content-custom-list">
				  <div class="flex-shrink-0">
					<img src="/ajay-sharma.webp" alt="Ajay Sharma" title="Ajay Sharma" class="img-fluid">
				  </div>
				  <div class="flex-grow-1 team-content">
					  <h2 class="about-title">
						  Mr. Ajay S. Shriram
						  <span class="d-block sub-title">Chairman & Sr. Managing Director - DCM Shriram Ltd.</span>
					  </h2>
					<p class="about-text">
						Educated at the preeminent Doon School in India and with a Bachelor’s Degree in Commerce from Sydenham College, Bombay, Mr. Ajay S. Shriram has attended various training and management development programs in India and overseas and participated in the <strong>“Program for Management Development” (PMD) at Harvard Business School, Boston, USA.</strong>
					</p>
					<p class="about-text">
						An eminent business leader, and active philanthropist, <strong>he is the Past President of the Confederation of Indian Industry (CII)</strong>. He is also the Chairman of the Governing Body of Shri Ram College of Commerce (SRCC) and a Trustee of SOS Children Villages of India.
					</p>
				  </div>
				</div>
				<div class="d-flex flex-column flex-md-row tab-content-custom-list">
				  <div class="flex-grow-1 team-content ms-0 order-2 order-md-1">
					  <h2 class="about-title">
						  Mr. Vikram S. Shriram
						  <span class="d-block sub-title">Vice Chairman & Managing Director - DCM Shriram Ltd.</span>
					  </h2>
					<p class="about-text">
						Mr. Vikram Shriram trained extensively in diverse functions within the DCM group and played many senior leadership functions within different group companies before taking over the leadership mantle at DCM Shriram Ltd. In September 2001.
					</p>
					<p class="about-text">
						He has <strong>rich experience in project management, strategic planning, marketing and general management, besides an inherent flair for finance and accounts.</strong> He is a good administrator; he acts as an enabler and motivates the team all the time. Believing that delegation of responsibility and authority maximization results and enriches the development of the team.
					</p>
				  </div>
				  <div class="flex-shrink-0 team-img order-1 order-md-2 ms-md-5">
					<img src="/vikram-singh.webp" alt="Vikram Singh" title="Vikram Singh" class="img-fluid">
				  </div>
				</div>
				<div class="d-flex flex-column flex-md-row tab-content-custom-list">
					  <div class="flex-shrink-0">
						<img src="/ajeet-singh.webp" alt="Ajeet Singh" title="Ajeet Singh" class="img-fluid">
					  </div>
					  <div class="flex-grow-1 team-content">
						  <h2 class="about-title">
							  Mr. Ajit. S. Shriram
							  <span class="d-block sub-title">Joint Managing Director - DCM Shriram Ltd.</span>
						  </h2>
					  <p class="about-text">
						  Mr Ajit S. Shriram did his primary education from Modern School, Delhi. After obtaining his Bachelor’s Degree in Commerce from Osmania University, Hyderabad, he did his MBA from the <strong>International Institute of Management Development</strong>, Lausanne, Switzerland.
					  </p>
					  <p class="about-text">
						  A past President of the Indian <strong>Sugar Mills Association</strong> (ISMA) he is an active member of the CII National Council on Agriculture. Conscientious and meticulous, Ajit Shriram is driven by family values and believes in close ties and teamwork. Youngest amongst the brothers, he makes a great team along with Ajay and Vikram Shriram with a complementary skill set and excellent business sense. He enjoys travelling, photography, and theatre.
					  </p>
					  </div>
				</div>
				<div class="d-flex flex-column flex-md-row tab-content-custom-list">
				  <div class="flex-grow-1 team-content ms-0 order-2 order-md-1">
					  <h2 class="about-title">
						  Mr. Roshan Lal Tamak
						  <span class="d-block sub-title">Executive Director  & CEO – DCM Shriram Ltd (Sugar Business)</span>
					  </h2>
					<p class="about-text">
						As Executive Director & CEO, Mr. Roshan Tamak heads the Sugar and Ethanol verticals at DCM Shriram Sugar. He brings with him more than three decades of distinguished professional experience.
					</p>
					<p class="about-text">
						He has made a mark in the industry in a wide range of assignments. From setting up both green and brown field expansion projects, to managing strategic acquisitions and turning around companies and giving them new impetus.
					</p>
					<p class="about-text">
						A true champion of income growth for small and marginal farmers, he has led the charge for significant growth in agricultural productivity through adoption of better crop management practices. <strong>His vast experience in running multi-stakeholder partnerships with multilateral agencies, global FMCG majors, civil society organizations, and development banks, gives extra impetus to our sustainability initiatives.</strong>
					</p>
					<p class="about-text">
						Recognized nationally and globally with many accolades, he is actively engaged in various industry forums and is a widely sought-after speaker and advisor.
					</p>
				  </div>
				  <div class="flex-shrink-0 team-img order-1 order-md-2 team-content">
					<img src="/roshan-lal-tamak.webp" alt="Roshan Lal Tamak" title="Roshan Lal Tamak" class="img-fluid">
				  </div>
				</div>
			  </div>
		  </div>
		</div>
	<Footer></Footer>
  <ExternalScripts></ExternalScripts>
</Layout>



