---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ExternalScripts from '../components/ExternalScripts.astro';

---

<Layout title="DCM - Sugar">
    <Header></Header>
	<section class="banner">
		<div class="position-relative bannerInn banner-inner">
			<img src="/banner-milestone.webp" alt="" title="" class="img-fluid d-none d-lg-block">
			<img src="/banner-milestone-mob.webp" alt="" title="" class="img-fluid d-block d-lg-none">
		</div>
		<ul class="list-unstyled mb-0 list-social list-social-inn">
			<li>
				<a href="/"><i class="fb-con"></i></a>
			</li>
			<li>
				<a href="/"><i class="utube-con"></i></a>
			</li>
		</ul>
	</section>
	<div class="sec-breadcrumb">
		<div class="container">
			<ol class="breadcrumb mb-0">
			  <li class="breadcrumb-item"><a href="/"><i class="home-icon"></i>Home</a></li>
			  <li class="breadcrumb-item"><a href="/">Who We are</a></li>
			  <li class="breadcrumb-item active"><a href="/">Milestones</a></li>
			</ol>
		</div>
	</div>
		<div class="nav-fill-custom">
			<div class="container">
				<ul class="nav nav-pills nav-fill">
				  <li class="nav-item">
					<a href="/purpose" class="nav-link">Purpose</a>
				  </li>
				  <li class="nav-item">
					<a href="/history" class="nav-link">History</a>
				  </li>
				  <li class="nav-item">
					<a href="/values" class="nav-link">Values</a>
				  </li>
				  <li class="nav-item">
					<a href="/milestones" class="nav-link active">Milestones</a>
				  </li>
				  <li class="nav-item">
					<a href="/leadership-team" class="nav-link">Leadership Team</a>
				  </li>
				  <li class="nav-item">
					<a href="/accolades" class="nav-link">Acculdaes</a>
				  </li>
				  <li class="nav-item">
					<a href="/gallery" class="nav-link">Gallery</a>
				  </li>
				</ul>
			</div>
		</div>
		<div class="tab-content tab-content-custom">
		  <div class="tab-pane fade show active" id="pills-leaership">
			  <div class="container">
				<h1 class="about-title text-center tab-content-custom-title">Milestones</h1>

				<ul class="timeline timeline-new">
					<!-- Item 1 -->
					<li class="pt(30px)">
						<div class="direction-l">
							<div class="flag-wrapper" data-aos="fade-in" data-aos-duration="2000">
								<span class="flag">1997-98</span>
							</div>
							<div data-aos="fade-right" data-aos-duration="1000">
								<div class="flag-hr"></div>
								<div class="card rounded-0 border-0 card-direction">
									<!-- <img src="/img-1997.webp" alt="" title="" class="img-fluid"> -->
									<div class="card-body">
										<p class="card-direction-text mb-0">Commencement of First Sugar unit at Ajbapur</p>
									</div>
								</div>
							</div>
						</div>
					<div class="direction-r">
							<!-- <div class="flag-wrapper" data-aos="fade-in" data-aos-duration="2000">
								<span class="flag">2002</span>
							</div> -->
							<div data-aos="fade-left" data-aos-duration="1000">
								<!-- <div class="flag-hr"></div> -->
								<div class="card rounded-0 border-0 card-direction">
									<img src="/img-97.webp" alt="" title="" class="img-fluid">
									<!-- <div class="card-body">
										<p class="card-direction-text mb-0">Acquisition of Rupapur Sugar unit</p>
									</div> -->
								</div>
							</div>
						</div>
					</li>
				  
					<!-- Item 2 -->
					<li class="pt-0">
					<div class="direction-l direction-l-opposite">
						<div class="flag-wrapper" data-aos="fade-in" data-aos-duration="2000">
							<span class="flag">2002-03</span>
						</div>
						<div data-aos="fade-right" data-aos-duration="1000">
							<div class="flag-hr"></div>
							<div class="card rounded-0 border-0 card-direction">
								<!-- <img src="/img-1997.webp" alt="" title="" class="img-fluid"> -->
								<div class="card-body">
									<p class="card-direction-text mb-0">Acquistion of Sugar Unit at Rupapur</p>
								</div>
							</div>
						</div>
					</div>
					<div class="direction-r direction-r-opposite">
						<!-- <div class="flag-wrapper" data-aos="fade-in" data-aos-duration="2000">
							<span class="flag">2002</span>
						</div> -->
						<div data-aos="fade-left" data-aos-duration="1000">
							<!-- <div class="flag-hr"></div> -->
							<div class="card rounded-0 border-0 card-direction">
								<img src="/img-02.webp" alt="" title="" class="img-fluid">
								<!-- <div class="card-body">
									<p class="card-direction-text mb-0">Acquisition of Rupapur Sugar unit</p>
								</div> -->
							</div>
						</div>
					</div>


					</li>

					<!-- Item 3 -->
					<li class="pt-0">
					<div class="direction-l">
						<div class="flag-wrapper" data-aos="fade-in" data-aos-duration="2000">
							<span class="flag">2005-06</span>
						</div>
						<div data-aos="fade-right" data-aos-duration="1000">
							<div class="flag-hr"></div>
							<div class="card rounded-0 border-0 card-direction">
								<!-- <img src="/img-1997.webp" alt="" title="" class="img-fluid"> -->
								<div class="card-body">
									<p class="card-direction-text mb-4">Commissioning of Sugar Units at Loni & Hariawan.</p>
									<p class="card-direction-text mb-0">Capacity Expansion at Ajbapur and Rupapur.</p>
								</div>
							</div>
						</div>
					</div>
				<div class="direction-r">
						<!-- <div class="flag-wrapper" data-aos="fade-in" data-aos-duration="2000">
							<span class="flag">2002</span>
						</div> -->
						<div data-aos="fade-left" data-aos-duration="1000">
							<!-- <div class="flag-hr"></div> -->
							<div class="card rounded-0 border-0 card-direction">
								<img src="/img-05.webp" alt="" title="" class="img-fluid">
								<!-- <div class="card-body">
									<p class="card-direction-text mb-0">Acquisition of Rupapur Sugar unit</p>
								</div> -->
							</div>
						</div>
					</div>
				</li>
				  <!-- Item 5 -->
				  <li class="pt-0">
					<div class="direction-l direction-l-opposite">
						<div class="flag-wrapper" data-aos="fade-in" data-aos-duration="2000">
							<span class="flag">2015-16</span>
						</div>
						<div data-aos="fade-right" data-aos-duration="1000">
							<div class="flag-hr"></div>
							<div class="card rounded-0 border-0 card-direction">
								<!-- <img src="/img-1997.webp" alt="" title="" class="img-fluid"> -->
								<div class="card-body">
									<p class="card-direction-text mb-0">Modernization of power plant at Ajbapur</p>
								</div>
							</div>
						</div>
					</div>
					<div class="direction-r direction-r-opposite">
						<!-- <div class="flag-wrapper" data-aos="fade-in" data-aos-duration="2000">
							<span class="flag">2002</span>
						</div> -->
						<div data-aos="fade-left" data-aos-duration="1000">
							<!-- <div class="flag-hr"></div> -->
							<div class="card rounded-0 border-0 card-direction">
								<img src="/img-015.webp" alt="" title="" class="img-fluid">
								<!-- <div class="card-body">
									<p class="card-direction-text mb-0">Acquisition of Rupapur Sugar unit</p>
								</div> -->
							</div>
						</div>
					</div>
					</li>
				  <!-- Item 6 -->
				<li class="pt-0">
					<div class="direction-l">
						<div class="flag-wrapper" data-aos="fade-in" data-aos-duration="2000">
							<span class="flag">2017-18</span>
						</div>
						<div data-aos="fade-right" data-aos-duration="1000">
							<div class="flag-hr"></div>
							<div class="card rounded-0 border-0 card-direction">
								<!-- <img src="/img-1997.webp" alt="" title="" class="img-fluid"> -->
								<div class="card-body">
									<p class="card-direction-text mb-0">Commissioning of First Disttillery at Hariawan.</p>
									<!-- <p class="card-direction-text mb-0">Capacity Expansion at Ajbapur and Rupapur.</p> -->
								</div>
							</div>
						</div>
					</div>
				<div class="direction-r">
						<!-- <div class="flag-wrapper" data-aos="fade-in" data-aos-duration="2000">
							<span class="flag">2002</span>
						</div> -->
						<div data-aos="fade-left" data-aos-duration="1000">
							<!-- <div class="flag-hr"></div> -->
							<div class="card rounded-0 border-0 card-direction">
								<img src="/img-017.webp" alt="" title="" class="img-fluid">
								<!-- <div class="card-body">
									<p class="card-direction-text mb-0">Acquisition of Rupapur Sugar unit</p>
								</div> -->
							</div>
						</div>
					</div>
				</li>
				<li class="pt-0">
					<div class="direction-l direction-l-opposite">
						<div class="flag-wrapper" data-aos="fade-in" data-aos-duration="2000">
							<span class="flag">2018-19</span>
						</div>
						<div data-aos="fade-right" data-aos-duration="1000">
							<div class="flag-hr"></div>
							<div class="card rounded-0 border-0 card-direction">
								<!-- <img src="/img-1997.webp" alt="" title="" class="img-fluid"> -->
								<div class="card-body">
									<p class="card-direction-text mb-0">Capacity Expansion by 5000 TCD and Co-gen power by 30MW at Hariawan.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="direction-r direction-r-opposite">
						<!-- <div class="flag-wrapper" data-aos="fade-in" data-aos-duration="2000">
							<span class="flag">2002</span>
						</div> -->
						<div data-aos="fade-left" data-aos-duration="1000">
							<!-- <div class="flag-hr"></div> -->
							<div class="card rounded-0 border-0 card-direction">
								<img src="/img-018.webp" alt="" title="" class="img-fluid">
								<!-- <div class="card-body">
									<p class="card-direction-text mb-0">Acquisition of Rupapur Sugar unit</p>
								</div> -->
							</div>
						</div>
					</div>
					</li>
				<li class="pt-0">
					<div class="direction-l">
						<div class="flag-wrapper" data-aos="fade-in" data-aos-duration="2000">
							<span class="flag">2019-20</span>
						</div>
						<div data-aos="fade-right" data-aos-duration="1000">
							<div class="flag-hr"></div>
							<div class="card rounded-0 border-0 card-direction">
								<!-- <img src="/img-1997.webp" alt="" title="" class="img-fluid"> -->
								<div class="card-body">
									<p class="card-direction-text mb-0">Commissioning of Second Distillery at Ajbapur.</p>
									<!-- <p class="card-direction-text mb-0">Capacity Expansion at Ajbapur and Rupapur.</p> -->
								</div>
							</div>
						</div>
					</div>
				<div class="direction-r">
						<!-- <div class="flag-wrapper" data-aos="fade-in" data-aos-duration="2000">
							<span class="flag">2002</span>
						</div> -->
						<div data-aos="fade-left" data-aos-duration="1000">
							<!-- <div class="flag-hr"></div> -->
							<div class="card rounded-0 border-0 card-direction">
								<img src="/img-019.webp" alt="" title="" class="img-fluid">
								<!-- <div class="card-body">
									<p class="card-direction-text mb-0">Acquisition of Rupapur Sugar unit</p>
								</div> -->
							</div>
						</div>
					</div>
				</li>
				<li class="pt-0">
					<div class="direction-l direction-l-opposite">
						<div class="flag-wrapper" data-aos="fade-in" data-aos-duration="2000">
							<span class="flag">2020-21</span>
						</div>
						<div data-aos="fade-right" data-aos-duration="1000">
							<div class="flag-hr"></div>
							<div class="card rounded-0 border-0 card-direction">
								<!-- <img src="/img-1997.webp" alt="" title="" class="img-fluid"> -->
								<div class="card-body">
									<p class="card-direction-text mb-0">Country Liquor plant setup at Hariawan</p>
								</div>
							</div>
						</div>
					</div>
					<div class="direction-r direction-r-opposite">
						<!-- <div class="flag-wrapper" data-aos="fade-in" data-aos-duration="2000">
							<span class="flag">2002</span>
						</div> -->
						<div data-aos="fade-left" data-aos-duration="1000">
							<!-- <div class="flag-hr"></div> -->
							<div class="card rounded-0 border-0 card-direction">
								<img src="/img-20.webp" alt="" title="" class="img-fluid">
								<!-- <div class="card-body">
									<p class="card-direction-text mb-0">Acquisition of Rupapur Sugar unit</p>
								</div> -->
							</div>
						</div>
					</div>
					</li>
				<li class="pt-0">
					<div class="direction-l">
						<div class="flag-wrapper" data-aos="fade-in" data-aos-duration="2000">
							<span class="flag">2022-23</span>
						</div>
						<div data-aos="fade-right" data-aos-duration="1000">
							<div class="flag-hr"></div>
							<div class="card rounded-0 border-0 card-direction">
								<!-- <img src="/img-1997.webp" alt="" title="" class="img-fluid"> -->
								<div class="card-body">
									<p class="card-direction-text mb-0">Commissioning of Second Distillery at Ajbapur.</p>
									<!-- <p class="card-direction-text mb-0">Capacity Expansion at Ajbapur and Rupapur.</p> -->
								</div>
							</div>
						</div>
					</div>
				<div class="direction-r">
						<!-- <div class="flag-wrapper" data-aos="fade-in" data-aos-duration="2000">
							<span class="flag">2002</span>
						</div> -->
						<div data-aos="fade-left" data-aos-duration="1000">
							<!-- <div class="flag-hr"></div> -->
							<div class="card rounded-0 border-0 card-direction">
								<img src="/img-22.webp" alt="" title="" class="img-fluid">
								<!-- <div class="card-body">
									<p class="card-direction-text mb-0">Acquisition of Rupapur Sugar unit</p>
								</div> -->
							</div>
						</div>
					</div>
				</li>

				</ul>
			  </div>
		  </div>
		</div>
	<Footer></Footer>
  <ExternalScripts></ExternalScripts>
</Layout>



