---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ExternalScripts from '../components/ExternalScripts.astro';

---

<Layout title="DCM - Sugar">
    <Header></Header>
	<section class="banner">
		<div class="position-relative bannerInn banner-inner">
			<img src="/banner-value.webp" alt="" title="" class="img-fluid d-none d-lg-block">
			<img src="/banner-value-mob.webp" alt="" title="" class="img-fluid d-block d-lg-none">
		</div>
		<ul class="list-unstyled mb-0 list-social list-social-inn">
			<li>
				<a href=""><i class="fb-con"></i></a>
			</li>
			<li>
				<a href=""><i class="utube-con"></i></a>
			</li>
		</ul>
	</section>
	<div class="sec-breadcrumb">
		<div class="container">
			<ol class="breadcrumb mb-0">
			  <li class="breadcrumb-item"><a href="#"><i class="home-icon"></i>Home</a></li>
			  <li class="breadcrumb-item"><a href="#">Who We are</a></li>
			  <li class="breadcrumb-item active"><a href="#">Values</a></li>
			</ol>
		</div>
	</div>
		<div class="nav-fill-custom">
			<div class="container">
				<ul class="nav nav-pills nav-fill">
				  <li class="nav-item">
					<a href="/purpose" class="nav-link">Purpose</a>
				  </li>
				  <li class="nav-item">
					<a href="/history" class="nav-link">History</a>
				  </li>
				  <li class="nav-item">
					<a href="/values" class="nav-link active">Values</a>
				  </li>
				  <li class="nav-item">
					<a href="/milestones" class="nav-link">Milestones</a>
				  </li>
				  <li class="nav-item">
					<a href="/leadership-team" class="nav-link">Leadership Team</a>
				  </li>
				  <li class="nav-item">
					<a href="/accolades" class="nav-link">Acculdaes</a>
				  </li>
				  <li class="nav-item">
					<a href="/gallery" class="nav-link">Gallery</a>
				  </li>
				</ul>
			</div>
		</div>
		<div class="tab-content tab-content-custom">
		  <div class="tab-pane fade show active" id="pills-leaership">
			  <div class="container">
				<h1 class="ft-start-sub-title about-title text-center">Values</h1>
				<div class="row g-0 justify-content-center">
					<div class="col-md-10">
						<p class="tab-content-custom-text mb40 history-text history-text1">
							Whether employees, growers, partners or customers, we believe what people value most are the ideals that give value and meaning to our lives and to those of others. Our values foster trust. Our values are rooted in inclusive growth. Our values help us reinvent, recreate and make a better world.
						</p>
						<div class="row row-cols-1 row-cols-md-3">
							<div class="col mb30">
								<div class="card rounded-0 card-value">
									<div class="card-body">
										<h4 class="value-title">INTEGRITY: </h4>
											<ul class="list-unstyled tab-content-custom-text history-text mb-0 list-value">
												<li>Uphold ethical standards.</li>
												<li>Be socially responsible.</li>
												<li>Deliver on promises.</li>
											</ul>
									</div>
								</div>
							</div>
							<div class="col mb30">
								<div class="card rounded-0 card-value">
									<div class="card-body">
										<h4 class="value-title">AGILITY:</h4>
											<ul class="list-unstyled tab-content-custom-text history-text mb-0 list-value">
												<li>Act with speed.</li>
												<li>Adapt continuously.</li>
												<li>Deliver results</li>
											</ul>
									</div>
								</div>
							</div>
							<div class="col mb30">
								<div class="card rounded-0 card-value">
									<div class="card-body">
										<h4 class="value-title">CUSTOMER-CENTRICITY: </h4>
											<ul class="list-unstyled tab-content-custom-text history-text mb-0 list-value">
												<li>Listen to customers.</li>
												<li>Build long lasting relationships.</li>
											</ul>
									</div>
								</div>
							</div>
							<div class="col mb30">
								<div class="card rounded-0 card-value">
									<div class="card-body">
										<h4 class="value-title">TEAMWORK:</h4>
											<ul class="list-unstyled tab-content-custom-text history-text mb-0 list-value">
												<li>Foster collaborative working.</li>
												<li>Promote meritocracy.</li>
												<li>Practice empathy and humility.</li>
											</ul>
									</div>
								</div>
							</div>
							<div class="col mb30">
								<div class="card rounded-0 card-value">
									<div class="card-body">
										<h4 class="value-title">OPENNESS:</h4>
											<ul class="list-unstyled tab-content-custom-text history-text mb-0 list-value">
												<li>Encourage diverse views.</li>
												<li>Build external orientation.</li>
											</ul>
									</div>
								</div>
							</div>
							<div class="col mb30">
								<div class="card rounded-0 card-value">
									<div class="card-body">
										<h4 class="value-title">NEWNESS:</h4>
											<ul class="list-unstyled tab-content-custom-text history-text mb-0 list-value">
												<li>Be innovative.</li>
												<li>Be Creative.</li>
											</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			  </div>
		  </div>
		</div>
	<Footer></Footer>
  <ExternalScripts></ExternalScripts>
</Layout>



