<section class="banner">
    <div class="position-relative bannerInn">
        <div class="pic-wrapper">
            <figure class="figure pic-1 showClass">
            </figure>
            <div class="banner-caption">
                <h1 class="banner-caption-title">Growing with growers</h1>
                <p class="banner-caption-text mb-0">Adding Sustainability to Success</p>
            </div>
            <figure class="figure pic-2 hideClass">
            </figure>
            <div class="banner-caption">
                <h1 class="banner-caption-title">Sweetening the lives of millions</h1>
                <p class="banner-caption-text mb-0">Empowering sugarcane growers</p>
            </div>
            <figure class="figure pic-3 hideClass">
            </figure>
            <div class="banner-caption">
                <h1 class="banner-caption-title">Generating green power</h1>
                <p class="banner-caption-text mb-0">Energising change</p>
            </div>
            <figure class="figure pic-4 hideClass">
            </figure>
            <div class="banner-caption">
                <h1 class="banner-caption-title">Technologically advanced</h1>
                <p class="banner-caption-text mb-0">Rooted to the needs of the customers</p>
            </div>
            <figure class="figure pic-5 hideClass">
            </figure>
            <div class="banner-caption">
                <h1 class="banner-caption-title">Turning the wheels of progress</h1>
                <p class="banner-caption-text mb-0">Powered by greener fuel</p>
            </div>
        </div>
    </div>
    <ul class="list-unstyled mb-0 list-social">
        <li>
            <a href=""><i class="fb-con"></i></a>
        </li>
        <li>
            <a href=""><i class="utube-con"></i></a>
        </li>
    </ul>
</section>