<footer>
    <div class="container">
        <div class="d-flex flex-column flex-lg-row">
            <a href="#" class="footer-logo">
                <img src="/footer-logo.webp" alt="" title="" class="img-fluid" width="159" height="81">
            </a>
            <div class="social d-flex flex-column flex-lg-row ms-lg-auto align-items-center">
                <div class="social-text">
                    Follow DCM Shriram Sugar <br>
                    on Social media
                </div>
                <ul class="list-unstyled social-list d-flex align-items-center mb-0">
                    <li>
                        <a href="#" class="social-fb"></a>
                    </li>
                    <li>
                        <a href="#" class="social-utube"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>