<header>
    <div class="container header-top">
        <div class="d-flex justify-content-between align-items-center">
            <a href="/" class="logo">
                <img src="/logo.webp" alt="" title="" class="img-fluid" width="159" height="77">
            </a>
            <ul class="list-inline mb-lg-0 header-top-right">
                <li class="list-inline-item">
                    <a href="/brief">
                        <i class="career-icon"></i>
                        Careers
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="/contact-us">
                        <i class="contact-icon"></i>
                        Contact
                    </a>
                </li>
                <li class="list-inline-item list-inline-item-search">
                    <a href="javascript:void(0)">
                        <i class="search-icon"></i>
                        <span class="d-none d-lg-block">Search</span>
                    </a>
                    <div class="search-box-text SlideUpIn">
                        <form class="search-form">
                            <label>
                                <span class="screen-reader-text">Search for:</span>
                                <input type="search" class="search-field" placeholder="Search …" value="" name="s">
                            </label>
                            <input type="submit" class="search-submit" value="Search">
                        </form>							
                    </div>     
                </li>
                <li class="list-inline-item position-relative d-block d-lg-none">
                    <button class="navbar-toggler" id="test1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                        </span>
                    </button>
                </li>
            </ul>     
        </div>

    </div>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-lg-auto mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/about-us">About Us</a>
                    </li>
                    <li class="nav-item dropdown mega-dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Who We Are</a>
                        <ul class="dropdown-menu mega-dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item container px-0">
                                <ul class="list-unstyled w-100 mega-dropdown-menu-inner">
                                    <li>
                                        <a class="dropdown-item dropdown-item-active" href="#">
                                            <div class="dd-img d-flex align-items-center justify-content-lg-center">
                                                <img src="/dp-icon-1.webp" alt="" title="" class="img-fluid" width="98" height="97">
                                            </div>
                                            Who we Are
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/purpose">
                                            Purpose
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/history">
                                            History
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/values">
                                            Values
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/milestones">
                                            Milestones
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/leadership-team">
                                            Leadership Team
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/accolades">
                                            Accolades
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/gallery">
                                            Gallery
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown mega-dropdown">
                        <a class="nav-link" href="#" data-bs-toggle="dropdown">
                            Our Businesses
                        </a>
                        <ul class="dropdown-menu mega-dropdown-menu">
                            <li class="nav-item container px-0">
                                <ul class="list-unstyled w-100 mega-dropdown-menu-inner">
                                    <li>
                                        <a class="dropdown-item dropdown-item-active" href="#">
                                            <div class="dd-img d-flex align-items-center justify-content-lg-center">
                                                <img src="/dp-icon-2.webp" alt="" title="" class="img-fluid" width="107" height="83">
                                            </div>
                                            Our Businesses
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="sugar.html">
                                            Sugar
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="power.html">
                                            Power
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="biofuels.html">
                                            Biofuels
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown mega-dropdown">
                        <a class="nav-link" href="#" data-bs-toggle="dropdown">Sustainability</a>
                        <ul class="dropdown-menu mega-dropdown-menu">
                            <li class="nav-item container px-0">
                                <ul class="list-unstyled w-100 mega-dropdown-menu-inner">
                                    <li>
                                        <a class="dropdown-item dropdown-item-active" href="#">
                                            <div class="dd-img d-flex align-items-center justify-content-center">
                                                <img src="/dp-icon-3.webp" alt="" title="" class="img-fluid" width="99" height="82">
                                            </div>
                                            Sustainability
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="the-circular-path-forward.html">
                                            The Circular Path Forward
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="meetha-sona.html">
                                            Meetha Sona Program
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="testimonials.html">
                                            Testimonials
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="key-metrics.html">
                                            Key Metrics
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="safety.html">
                                            Safety
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown mega-dropdown">
                        <a class="nav-link" href="#" data-bs-toggle="dropdown">Growing with Growers</a>
                        <ul class="dropdown-menu mega-dropdown-menu">
                            <li class="nav-item container px-0">
                                <ul class="list-unstyled w-100 mega-dropdown-menu-inner">
                                    <li>
                                        <a class="dropdown-item dropdown-item-active" href="#">
                                            <div class="dd-img d-flex align-items-center justify-content-center">
                                                <img src="/dp-icon-4.webp" alt="" title="" class="img-fluid" width="92" height="81">
                                            </div>
                                            Growing with Growers
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="partners-in-progress.html">
                                            Partners in Progress
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="farmer-training.html">
                                            Farmer Training
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="digitization.html">
                                            Digitizing the Sugar Value<br> Chain and Services
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="mechanization.html">
                                            Mechanization
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="r-&-d.html">
                                            R&D
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown mega-dropdown">
                        <a class="nav-link" href="#" data-bs-toggle="dropdown">Social Responsibility</a>
                        <ul class="dropdown-menu mega-dropdown-menu">
                            <li class="nav-item container px-0">
                                <ul class="list-unstyled w-100 mega-dropdown-menu-inner">
                                    <li>
                                        <a class="dropdown-item dropdown-item-active" href="#">
                                            <div class="dd-img d-flex align-items-center justify-content-center">
                                                <img src="/dp-icon-5.webp" alt="" title="" class="img-fluid" width="81" height="80">
                                            </div>
                                            Social Responsibility
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="preventive-healthcare-and-sanitation.html">
                                            Preventive Healthcare<br> & Sanitation
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="education-vocational-skills-livelihood.html">
                                            Education, Vocational Skills<br> & Livelihood
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="environment-sustainability.html">
                                            Environment <br> Sustainability
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="rural-development.html">
                                            Rural Development
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown mega-dropdown">
                        <a class="nav-link" href="#" data-bs-toggle="dropdown">Working with Us</a>
                        <ul class="dropdown-menu mega-dropdown-menu">
                            <li class="nav-item container px-0">
                                <ul class="list-unstyled w-100 mega-dropdown-menu-inner">
                                    <li>
                                        <a class="dropdown-item dropdown-item-active" href="#">
                                            <div class="dd-img d-flex align-items-center justify-content-center">
                                                <img src="/dp-icon-6.webp" alt="" title="" class="img-fluid" width="81" height="80">
                                            </div>
                                            Working with Us
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="our-culture.html">
                                            Our Culture
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="employee-engagement-wellness.html">
                                            Employee Engagement & Wellness
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="life-colony.html">
                                            Life @ Colony
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="employee-speak.html">
                                            Employee Speak
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown mega-dropdown">
                        <a class="nav-link" href="#" data-bs-toggle="dropdown">Media</a>
                        <ul class="dropdown-menu mega-dropdown-menu">
                            <li class="nav-item container px-0">
                                <ul class="list-unstyled w-100 mega-dropdown-menu-inner">
                                    <li>
                                        <a class="dropdown-item dropdown-item-active" href="#">
                                            <div class="dd-img d-flex align-items-center justify-content-center">
                                                <img src="/dp-icon-7.webp" alt="" title="" class="img-fluid" width="80" height="81">
                                            </div>
                                            Media
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="press-release.html">
                                            Press Release
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            In the News
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="social-media.html">
                                            Social Media Updates
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="nav-btm d-flex d-lg-none">
                    <a href="#"><span class="career_icon"></span>Careers</a>
                    <a href="contact-us.html"><span class="contact_icon"></span>Contact</a>
                </div>
            </div>																									 
        </div>
    </nav>
</header>